body{
    background-color: rgba(166, 156, 156, 0.363);
}
#head-one {
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.blue01{
    background-color: #0d36f1;
    margin: 0px;
}
.blue02{
    background-color: #2592f1;
    margin: 0px;
}
.blue03{
    background-color:#5c9dff;
    margin: 0px;
}
.blue04{
    background-color:#5FBDFF;
    margin: 0px;
}
.blue05{
    background-color: #7bcef7;
    margin: 0px;
}
.blue06{
    background-color: #96d7ff;
    margin: 0px;
}
.blue07{
    background-color: #8dd6f0;
    margin: 0px;
}
.Green08{
    background-color: #51bc0f;
    margin: 0px;
}
.Red09{
    background-color: #f5bfd8;
    margin: 0px;
}
.Red10{
    background-color: #f0accc;
    margin: 0px;
}
.Red11{
    background-color: #ed9dc2;
    margin: 0px;
}
.Red12{
    background-color: #ec8fbb;
    margin: 0px;
}
.Red13{
    background-color:  #ed6ba8;
    margin: 0px;
}
.Red14{
    background-color: #e74e95;
    margin: 0px;
}
.Red15{
    background-color: #dd3382;
    margin: 0px;
}